<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Sahifa topilmadi</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="text-center">
        <h1 class="text-4xl font-bold text-red-500">404</h1>
        <p class="text-lg text-gray-700">Kechirasiz, bu sahifa topilmadi!</p>
        <a href="{% url 'dashboard' %}" class="mt-4 inline-block bg-blue-500 text-white px-6 py-2 rounded-md">
            Bosh sahifaga qaytish
        </a>
    </div>
</body>
</html>
